* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
      height: 100%;
  }

  .globe {
    fill: #2c619e;
  }

  .coast {
    fill: none;
    stroke: none;
  }

  .border {
    stroke: rgb(77, 74, 74);
    fill: #ddc;
  }

  circle {
	  fill: none;
	  stroke: #5DA8DC;
  }
  .twitterbird {
    height: 10vh;
  }
  .twitterbird-wing1{
    transform-origin:center;
    animation: flap 0.4s ease-out infinite alternate;
 }	
 .twitterbird-wing2{
    transform-origin:center;
    animation: flap 0.4s ease-in infinite alternate;
 }	 	
 @keyframes flap{
   50%{
    transform:scaleX(-1) rotate(-45deg) translate(-40px,-40px);

   }
 }